<ion-header>
  <ion-toolbar>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="head">
    <h1>SkeletonAPP</h1>
    <p>Aquí comienza todo</p>
  </div>
  <br>
  <div id="login">
    <h2>Bienvenidos!</h2>

    <ion-item>
      <ion-label position="floating">Usuario</ion-label>
      <ion-input type="text" maxlength="8" minlength="3"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating" >Password</ion-label>
      <ion-input type="password" maxlength="4" minlength="4"></ion-input>
    </ion-item>
    <section>
      <br>
      <ion-button size="small" expand="block">Ingresar</ion-button>
    </section>
    <section>
      <br>
      <a href="#" class="underline">Crea tu cuenta gratis</a>
    </section>
  </div>

</ion-content>
