<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Pagina de prueba para animaciones</strong>
    <p>Ignore esto profe<a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <div class="pac-man"></div>
  <h1>{{contador}}</h1>
  <div class="square"></div>
</ion-content>
<ion-button id="play" color="primary">Iniciar</ion-button>
<ion-button id="pause" color="warning">Pausar</ion-button>
<ion-button id="stop" color="danger">Detener</ion-button>

